{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}
      <span class="htmltag tag"> < h1 > </span>
      <h1 class='rubber-band'>My,Myself&nbsp;&&nbsp;I</h1>
      <span class="htmltag tag"> < /h1 > </span>
      <div class="contentpara">
            <p>
                  Hello there! It's a pleasure to meet you. My name is Mohamed Marzook, and I hail from India. I am presently pursuing my
                  Bachelor's degree in Computer Science and Engineering. As a self-taught programmer, I immerse myself in online resources
                  to expand my knowledge mainly YouTube. I actively engage in developing small-scale projects and experimenting with cutting-edge
                  technologies.
            </p>
            <p>
                  Well-organised person, problem solver, Independent with high attention to detail. 
                  Fan of LTT(Linus Tech Tips), outdoor activities, Learning new things and English literature.
                  Tech Geek.
            </p>
      </div>
      <a href="/contact"><button class="btn btn1">Follow Me On Social Media</button></a>
{% endblock %}
