{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}
      <span class="htmltag tag3"> < h1 > </span>
      <h1 class='rubber-band'>About</h1>
      <span class="htmltag tag4"> < /h1 > </span>
      <div class="contactpara">
            <p>
                  Hi. My name is  M. Mohamed Marzook from India and I am a
                  beginner in Python. I taught myself learning Python from the
                  internet and I also have some knowledge in game dev using Unity
                  engine in c# language. Now I am improving my skill in Python to
                  become what I desired to be
            </p>
            <p>
                  This website is created using Django. which is a Python-based free 
                  and open-source web framework, I highly encourage you to make it yourself 
                  its free and fun
            </p>
            <p>
                  "practice makes perfect"
            </p>
      </div>
{% endblock %}
