{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}
      <span class="htmltag tag3"> < h1 > </span>
      <h1 class='rubber-band'>My,Myself&nbsp;&&nbsp;I</h1>
      <span class="htmltag tag4"> < /h1 > </span>
      <div class="contentpara">
            <p>
                  Hi there,Nice to meet you!
                  My name is Mohamed Marzook.from India
                  I am currently doing my Bachelor's in Computer Science and Engineering,
                  I am learning programming on my own from the internet and I 
                  do some small projects and experiment with new technology.
            </p>
            <p>
                  Well-organised person, problem solver, Independent with high attention to detail. 
                  Fan of LTT(Linus Tech Tips), outdoor activities, Learning new things and English literature.
                  Tech Geek.
            </p>
      </div>
{% endblock %}
