{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}
      <span class="htmltag tag3"> < h1 > </span>
      <h1 class='rubber-band'>Contact</h1>
      <span class="htmltag tag4"> < /h1 > </span>
      <p class="contentpara">
            My Social Accounts
      </p>
      <a href="https://www.instagram.com/mmm_0_7/"><button class="btn btn1">Instagram</button></a> <br>
      <a href="https://www.linkedin.com/in/marzook070/"><button class="btn btn1">LinkedIn</button></a> <br>
{% endblock %}