{% extends 'pages/base.html' %}
{% load static %}

{% block Content %}
<span class="htmltag tag3">
      < h1>
</span>
<h1 class='rubber-band'>Projects</h1>
<span class="htmltag tag4">
      < /h1>
</span>
<div class="contentpara">
      <span class="htmltag tag3">
            < img>
      </span>
      <a href="https://currencyconvertor.pythonanywhere.com/">
            <img src="{%static 'images/currency_converter.png'%}" alt="">
      </a>
      <span class="htmltag tag3">
            < /img>
      </span>
      <p>
            This project showcases my first experience using an API to develop a practical application. I successfully
            created an online currency converter by integrating the exchangerate.host free API. The converter fetches
            data in JSON format from the API, allowing me to access the latest exchange rates. Utilizing this data, I
            implemented background calculations to perform accurate conversions for any given amount. The result is a
            fully functional and efficient online currency converter. This project highlights my ability to work with
            APIs and demonstrates my proficiency in handling data formats and performing calculations to deliver
            valuable solutions.
      </p>
      <p>
      </p>

</div>
{% endblock %}